/local
/vendor
/test
/Certificates/Cer_1.cer
/Certificates/Cer_1.p12
/Certificates/Cer_1.pem
Cer_1.cer
Cer_1.p12
Cer_1.pem
test.php
PruebaAPI.php
/Pruebas
composer.lock
/composer.local.*
composer.phar
/coverage.clover
.DS_Store
/.idea
/builds
# VIM Swap Files #
*.swp
*.swo